@inject IViewLocalizer VLocalizer
@model CommentViewModel
@{
    var contentId = Model.Comment.Id.ToString() + "content";
    string color;
}
@if (Model.ShowReportColor)
{
    color = "background-color: rgba(255, 0, 0, 0.4);";
}
else
{
    color = "background-color:none;";
}
<div id="@contentId" style="@color">
    <div class="media chat-item">
        <div class="media-body">
            <div class="row justify-content-between" style=" max-height: 27px;">
                <span class="col-9 font-weight-bold" data-filter-by="text">@Model.Comment.User.UserName</span>
                <div class="dropleft col">
                    @{
                        var buttonId = Model.Comment.Id + "Button";
                    }
                    @if (Model.IsReportRelated || Model.IsDeleteRelated)
                    {
                        <button class="btn" type="button" id="@buttonId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="box-shadow: none;">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                            </svg>
                        </button>
                    }
                    <div class="dropdown-menu" aria-labelledby="@buttonId">
                        @{
                            var deleteId = Model.Comment.Id + "Delete";
                            var reportId = Model.Comment.Id + "Report";
                        }
                        @if (Model.IsDeleteRelated)
                        {
                            <a class="dropdown-item dropdownEl" id="@deleteId">@VLocalizer["DeleteBtn"]</a>
                        }
                        @if (Model.IsReportRelated)
                        {
                            <a class="dropdown-item dropdownEl" id="@reportId">@VLocalizer["ReportBtn"]</a>
                        }
                    </div>
                </div>
            </div>
            <div class="chat-item-body DIV-filter-by-text" data-filter-by="text">
                <p style="margin-bottom: 4px;">@Model.Comment.Text</p>
            </div>
            <p style=" font-size: 10px; color: #8e8e8e;">@Model.Comment.Date.ToShortDateString()<p>
        </div>
    </div>
</div>

<script>
    $('#@deleteId').click(function () {
        var label = $(this).attr("id");
        label = label.replace('Delete', '');
        var comment = $('#' + label + 'content');
        $.ajax({
            type: 'DELETE',
            url: '@Url.Content("~/news/removedComment")',
            data: { 'commentId': label },
            success: function (data) {
                var countComment = $('#' + data + 'count');
                countComment.text(parseInt(countComment.text()) - 1);
                comment.remove();
                }
            });
    });

    $('#@reportId').click(function () {
        var elem = $(this);
        var label = elem.attr("id");
        label = label.replace('Report', '');
        var div = $(this).parent();
        var commentBtnId = '#' + label + 'Button';
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/report/send")',
            data: { 'CommentId': label  },
            success: function (data) {
                elem.remove();
                if (div.children().length == 0) {
                    $(commentBtnId).remove();
                }
            }
        });
    });
</script>