@using Microsoft.AspNetCore.Localization
@inject IViewLocalizer VLocalizer

@model ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.UserName + " profile editor";
}

<div class="centeredSt" style="margin-top:100px;">
    <form asp-action="EditProfilePost" method="post" enctype="multipart/form-data">
        <div class="row mb-5 mx-auto" style=" width: 200px; height: 200px;">
            <label class="mx-auto">
                <img src="@Model.Avatar.Path" id="Image" class="mx-auto img-fluid rounded-circle mb-2 border border-dark" style="
        border-width: 3px !important;
        width: 100%;
        height: 100%;
        max-height: 200px;
        max-width: 200px;
        cursor: pointer;
    ">
                <input type="file" id="File" name="File" hidden="hidden" />
            </label>
        </div>
        <div class="mb-3">
            <label for="username">@VLocalizer["Username"]</label>
            <div class="input-group">
                <div class="input-group-prepend">
                </div>
                <input type="text" class="form-control" id="Username" name="Username" placeholder="@VLocalizer["Username"]" value="@Model.UserName" required="">
                <div class="invalid-feedback" style="width: 100%;">
                    @VLocalizer["InvalidFeedbackUserName"]
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="Description">@VLocalizer["Description"]</label>
            <textarea type="text" name="Description" id="Description" class="form-control mb-2" style="resize: none;" placeholder="@VLocalizer["Description"]">@Model.Description</textarea>
        </div>
        @if (Model.PasswordHash != null)
        {
            <div class="mb-3">
                <label for="OldPassword">@VLocalizer["OldPassword"]</label>
                <input type="password" name="OldPassword" id="OldPassword" class="form-control" placeholder="@VLocalizer["OldPassword"]">
            </div>

            <div class="mb-3">
                <label for="Password">@VLocalizer["Password"]</label>
                <textarea type="text" name="Password" id="Password" class="form-control mb-2" style="resize: none;" placeholder="@VLocalizer["Password"]"></textarea>
            </div>
        }

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">@VLocalizer["EditProfileBtn"]</button>
    </form>
</div>
<script src="~/js/imageLoad.js"></script>