@model LoginViewModel;
@inject IViewLocalizer VLocalizer


@{
    Layout = MVC.Shared.Views._Layout;
    ViewBag.Title = R4MvcExtensions.LoginTitle;
    var vm = new LoginViewModel();
}

<div class="centered">
    <div class="container">
        <div class="row" style="justify-content: center;">
            <form class="form-signin text-center" asp-controller="Account" asp-action="LoginPost" method="post">
                <h1 class="h3 mb-3 font-weight-normal">@VLocalizer["LoginLbl"]</h1>

                <input type="email" name="Email" id="inputEmail" class="form-control mb-2" placeholder="@VLocalizer["Email"]" required="" autofocus="">

                <input type="password" name="Password" id="inputPassword" class="form-control" placeholder="@VLocalizer["Password"]" required="">
                <input type="text" name="returnUrl" hidden="hidden" value="@ViewBag.ReturnUrlParameter" />
                <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">@VLocalizer["LoginBtn"]</button>
                <a class="text-center" mvc-action="@MVC.Account.Registration()">@VLocalizer["RegisterRedir"]</a>
            </form>
        </div>
        <div class="row" style="justify-content: center;">
            <form method="get" mvc-action="@MVC.Account.GoogleLogin()">
                <label style="cursor:pointer;">
                    <button type="submit" hidden="hidden"></button>
                    <img mvc-src="@Links.Images.btn_google_signin_light_normal_web_png" alt="Google authentication">
                </label>
            </form>
        </div>
    </div>
</div>
