@using Microsoft.AspNetCore.Localization
@inject IViewLocalizer VLocalizer

@model ApplicationUser
@{
    Layout = MVC.Shared.Views._Layout;
    ViewBag.Title = Model.UserName;
    List<List<Post>> a = new List<List<Post>>();
    List<Post> b = new List<Post>();
    foreach (var post in Model.Posts)
    {
        if (b.Count % 3 == 0 && b.Count != 0)
        {
            a.Add(b);
            b = new List<Post>();
        }
        b.Add(post);

    }
    a.Add(b);
}

<div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalParrent" hidden id="ModalBtn">
        Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="ModalParrent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:1300px;">
            <div class="modal-content" style="border:none;">
                <div class="modal-body" id="ModalBody" style="padding:0px;">
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container centeredSt" style="
                margin-top:100px;">

        <div class="row mb-5">
            <div style=" width: 200px; height: 200px;">
                <img src="@Model.Avatar.Path" class="img-fluid rounded-circle mb-2 border border-dark" style="
                    border-width: 3px !important;
                    width: 100%;
                    height: 100%;
                    max-height: 200px;
                    max-width: 200px;">
            </div>
            <div class="col-2 align-items-center pt-5 pl-4">
                <h1>@Model.UserName</h1>
                <h3>@Model.Description</h3>
            </div>
            <div class="col-0 align-items-center pt-5 pl-5">
                <a mvc-action="@MVC.Account.EditProfile()" class="btn btn-outline-secondary py-2 px-3 mt-3 mt-sm-0 ml-sm-3" onclick="ga('send', 'event', 'Examples', 'Hero', 'Download');">@VLocalizer["EditBtn"]</a>
            </div>
        </div>
        @foreach (var line in a)
        {
            <div class="row mb-4 text-center">
                @foreach (var col in line)
                {
                    <label class="col" style="cursor: pointer;">
                        <img src=@col.Image.Path style="
                                    object-fit: cover;
                                    left: 0;
                                    top: 0;
                                    width: 100%;
                                    height: 100%;
                                    max-height: 400px;
                                    max-width: 400px;" />
                        <input class="Post" type="button" value="@col.Id" hidden="hidden">

                    </label>
                }
            </div>
        }
    </div>
</div>
<script mvc-src="@Links.js.profilePost_js"></script>