@inject IViewLocalizer VLocalizer
@model List<UserRolesViewModel>
@{
    Layout = MVC.Shared.Views._Layout;
}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block shadow-sm" style="margin-top: 40px; width: 190px; height: 100%;
    position: fixed;
    top: 0;">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column" style="background-color:white;">
            <li class="nav-item">
                <a class="nav-link active" style="color:black;" mvc-action="@MVC.Admin.GetPostReports()">
                    @VLocalizer["PostReports"] <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" style="background-color:white;">
                <a class="nav-link" style="color: black;" mvc-action="@MVC.Admin.GetCommentReports()">
                    @VLocalizer["CommentReports"]
                </a>
            </li>
            <li class="nav-item" style="background-color:#343a40;">
                <a class="nav-link" style="color: white;" mvc-action="@MVC.Admin.SetDeleteRoles()">
                    @VLocalizer["Roles"]
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="centeredSt" style="padding-left: 200px; min-width: 90%;">
    @foreach (var elem in Model)
    {
        @await Component.InvokeAsync(R4MvcExtensions.RoleLine, new { vm = elem })
    }
</div>
<script mvc-src="@Links.js.addRemoveModerRoots_js"></script>
<script mvc-src="@Links.js.banUnban_js"></script>